Request Routing:
	As a user, I want when I call example.com/user my request will be forwared to user's service and when I call example.com/history my request will be forwared to history's service and based on that i want a centeral gatway based on the requested url my request will be delegated to the appropriate services.

Authentication and Authorization:
	As a user, I want to be able to sending a signup request without authentication
	As an admin, I want any request has been sent to to gateway to be authenticated
	As an admin, I want any subsequent request to have a header with the token if 
			the authentication was done successfuly and the token is valid.
	
	

Request and Response Transformation
Use Spring Cloud Gateway's rate limiting features.
Use Spring Boot's built-in logging and integrate with tools like ELK stack for monitoring.
Use Hystrix to stop calling a service that is likely to fail.
Load Balancing Distribute incoming traffic across multiple instances to ensure optimal resource 
use caching where appropriate.
Implement retry mechanisms for failed requests.
document API contracts with tools like Swagger.
